:root{
    --brightred: #F9423D;
    --lightred: #F9433DCC;
    --darkgray: #212329;
    --white: #fff;
}

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

.menu-toggle .bar{
    background: white;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    width: 25px;
}

.nav-container{
    background-color: var(--darkgray);
    width: 100%;
}

.navbar{
    display: grid;
    /* logo takes up 20% of nav and links take up 1 portion */
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    max-width: 1720px;
    width: 90%;
}

#navbar-logo{
    color: var(--white);
    cursor: pointer;
    justify-self: start;
    margin-left: 20px;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-link-btn{
    background-color: var(--brightred);
    border-radius: 5px;
    padding: 6px 16px;
}

.nav-link-btn:hover{
    background-color: transparent;
    border: 1px solid var(--brightred);
    color: var(--white);
    padding: 5px 15px;
    transition: all 0.3s ease-out;
}

.nav-link:hover{
    color: var(--brightred);
    transition: all 0.2s ease-out;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-self: end;
    list-style: none;
    text-align: center;
    width: 70%;
}

@media screen and (max-width: 768px){
    .nav-container{
        position: relative;
    }

    .nav-menu{
        background: var(--brightred);
        display: grid;
        grid-template-columns: auto;
        left: -100%;
        margin: 0;
        opacity: 0;
        position: absolute;
        top: 80px;
        transition: all 0.5s ease;
        width: 100%;
    }

    #navbar-logo{
        margin-left: 20px;
    }

    .nav-menu.active{
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-link{
        display: table;
        line-height: 60px;
        text-align: center;
        width: 100%;
    }

    .nav-link:hover{
        background-color: var(--brightred);
        color: white;
        transition: all 0.4s ease-out;
    }

    .nav-link-btn{
        background-color: var(--darkgray);
        color: var(--white);
        border: none;
        border-radius: 0;
        padding: 0;
        transition: all 0.4s ease-out;
    }

    .nav-link-btn:hover{
        background-color: var(--brightred);
        color: var(--white);
        border: none;
        border-radius: 0;
        padding: 0;
        transition: all 0.4s ease-out;
    }

    .navbar{
        width: 100%;
    }

    #mobile-menu{
        position: absolute;
        right: 5%;
        top: 20%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar{
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover{
        cursor: pointer;
    }

    /* make middle bar dissapear */
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    /* make middle bar dissapear */
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    /* make middle bar dissapear */
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } */
}